*.ipynb_checkpoints/
*.vscode/
*.idea/
*.pyc
venv/
build/
*.so
*.pth
*.pkl
*.zip
*.bin
*.pdf
*version.py
*.npy
*.DS_Store
*.sbatch
*.out

**__pycache__**
**build**
**egg-info**
output/*

*.err
*.out
*.slurm
*.ipynb

tools/update_reminder.txt

tools/train_random_source_target.py
*/logs/*
